<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
        <h3>css grid</h3>
        <div class="container">
            <div class="header">1 Lorem ipsum dolor sit amet.</div>
            <div class="content-2">2 Lorem ipsum dolor sit amet.</div>
            <div class="content-3">3 Lorem ipsum dolor sit amet.</div>
            <div class="content-4">4 Lorem ipsum dolor sit amet.</div>
            <div class="content-5">5 Lorem ipsum dolor sit amet.</div>
            <div class="content-6">6 Lorem ipsum dolor sit amet.</div>
            <div class="content-7">7 Lorem ipsum dolor sit amet.</div>
            <div class="footer">8 Lorem ipsum dolor sit amet.</div>
        </div>
    </div>
</body>
</html>
